h1{
text-align:center;
padding-top: 15px;
padding-bottom:30px;
background-color:#fae098;
}

.first-div{
padding-top:100px;
padding-bottom:30px;
}

.second-div{
padding-top:50px;

.user-adm-btn{
color:white;
background-color:#c7ba08;
border-radius:15px;
}

.loginBtn{
color:white;
background-color:#3c7bab;
border-radius:15px;
}

.signupBtn{
color:white;
background-color:#3a9177;
border-radius:15px;
}

.courseListBtn{
color:white;
background-color:#a70cb3;
border-radius: 15px;
}

.courseEditorBtn{
color:white;
background-color:#f78a40;
border-radius: 15px;
}
